<app-header />

<main>
  <ul id="users">
    @for (user of users; track user.id) {
    <li>
      <app-user
        [user]="user"
        [selected]="user.id === selectedUserId"
        (select)="onSelectUser($event)"
      />
    </li>
    }
    <!-- Legacy approach -->
    <!-- <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li> -->
  </ul>

  @if (selectedUser) {
  <app-tasks [userId]="selectedUser.id" [userName]="selectedUser.name" />
  } @else {
  <p id="fallback">Select a user to see their tasks!</p>
  }

  <!-- Legacy approach -->
  <!-- <app-tasks *ngIf="selectedUser; else fallback" [userName]="selectedUser!.name" />
  <ng-template #fallback>
    <p id="fallback">Select a user to see their tasks!</p>
  </ng-template> -->
</main>
